<div class="overflow-x-auto mt-16 max-w-fit w-full flex flex-col mx-auto">
    <div class="flex justify-between mb-10 items-center">
        <h1 class="font-bold text-2xl">Assigned Work</h1>
        <label class="input input-bordered flex items-center w-96 gap-2">
            <input type="text" class="grow" placeholder="Search" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd" />
            </svg>
        </label>
        <div class="join">
            <button class="join-item btn">1</button>
            <button class="join-item btn btn-active">2</button>
            <button class="join-item btn">3</button>
            <button class="join-item btn">4</button>
        </div>
    </div>

    <table class="table">
      <thead class="text-sm">
        <tr>
          <th>REQUEST ID</th>
          <th>SERVICE TYPE</th>
          <th>SERVICE ID</th>
          <th>DESCRIPTION</th>
          <th>PRICE</th>
          <th>TYPE</th>
          <th>PAYMENT(20%)</th>
          <th>STATUS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>r-p001</td>
          <td>PeoTV</td>
          <td>slt-p001</td>
          <td>Faulty remotes and assist in programming or syncing them</td>
          <td>Rs. 7,200.00</td>
          <td>Cash</td>
          <td>Rs. 1,440.00</td>
          <td><div class="badge p-3 font-bold text-white bg-blue">In Process</div></td>
          <td class="text-xl flex gap-2"><i class="fa-solid fa-eye text-gray1"></i><i class="fa-regular fa-circle-check text-green"></i></td>
        </tr>
        <tr>
            <td>r-p001</td>
            <td>PeoTV</td>
            <td>slt-p001</td>
            <td>Faulty remotes and assist in programming or syncing them</td>
            <td>Rs. 7,200.00</td>
            <td>Cash</td>
            <td>Rs. 1,440.00</td>
            <td><div class="badge p-3 font-bold text-white bg-blue">In Process</div></td>
            <td class="text-xl flex gap-2"><i class="fa-solid fa-eye text-gray1"></i><i class="fa-regular fa-circle-check text-green"></i></td>
        </tr>
        <tr>
            <td>r-p001</td>
            <td>PeoTV</td>
            <td>slt-p001</td>
            <td>Faulty remotes and assist in programming or syncing them</td>
            <td>Rs. 7,200.00</td>
            <td>Cash</td>
            <td>Rs. 1,440.00</td>
            <td><div class="badge p-3 font-bold text-white bg-blue">In Process</div></td>
            <td class="text-xl flex gap-2"><i class="fa-solid fa-eye text-gray1"></i><i class="fa-regular fa-circle-check text-green"></i></td>
        </tr>
        <tr>
            <td>r-p001</td>
            <td>PeoTV</td>
            <td>slt-p001</td>
            <td>Faulty remotes and assist in programming or syncing them</td>
            <td>Rs. 7,200.00</td>
            <td>Cash</td>
            <td>Rs. 1,440.00</td>
            <td><div class="badge p-3 font-bold text-white bg-blue">In Process</div></td>
            <td class="text-xl flex gap-2"><i class="fa-solid fa-eye text-gray1"></i><i class="fa-regular fa-circle-check text-green"></i></td>
        </tr>
      </tbody>
    </table>
</div>