<div class="m-8">
    <a routerLink="" class="btn bg-white border-blue border-2 text-blue font-bold"><i class="fa-solid fa-arrow-left"></i>Back to Home</a>

    <h1 class="mt-16 font-bold text-3xl text-green">Here are the services we provide for telephone connections</h1>
    <p class="text-gray1 mt-1">Choose the service you need from our range of reliable repair and maintenance solutions.</p>

    <div class="overflow-x-auto mt-16 w-9/12 flex flex-col mx-auto">
        <table class="table">
          <thead class="text-sm">
            <tr>
              <th>SERVICE ID</th>
              <th>DESCRIPTION</th>
              <th>REGULAR PRICE</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>slt-t001</td>
              <td>Faulty telephones, modems, or other hardware</td>
              <td>Rs. 7,200.00</td>
              <td><a class="btn font-bold text-white bg-blue">Request</a></td>
            </tr>
            <tr>
                <td>slt-t002</td>
                <td>Noisy, static-filled, or completely disconnected telephone lines</td>
                <td>Rs. 5,000.00</td>
                <td><a class="btn font-bold text-white bg-blue">Request</a></td>
            </tr>
            <tr>
                <td>slt-t003</td>
                <td>Problems with internal or external wiring</td>
                <td>Rs. 4,500.00</td>
                <td><a class="btn font-bold text-white bg-blue">Request</a></td>
            </tr>
            <tr>
                <td>slt-t004</td>
                <td>Low clarity of voice calls</td>
                <td>Rs. 2,000.00</td>
                <td><a class="btn font-bold text-white bg-blue">Request</a></td>
            </tr>
          </tbody>
        </table>

        <h2 class="mt-16 text-2xl font-bold text-blue">Are you facing an issue other than the mentioned ones?</h2>
        <p class="text-gray1 mt-1">Tell us what you are facing, and our team will promptly contact you or dispatch a technician to your home to resolve the issue.</p>

        <textarea class="textarea textarea-bordered mt-8" placeholder="Describe what you are facing"></textarea>

        <p class="text-red-500 mt-8">Please note that if a technician visit to your home is required, a service charge will apply.</p>
        <a class="btn font-bold text-white bg-green w-24 mt-4">Request</a>
      </div>
</div>