<div class="hero bg-gradient-to-r from-green to-blue h-80">
    <div class="hero-content text-center flex flex-col">
      <div class="max-w-5xl">
        <h1 class="text-5xl font-bold text-white">Streamlined Solutions for Reliable Service</h1>
      </div>
      <div class="max-w-2xl">
        <p class="py-4 text-xl font-normal text-white">
            Effortlessly report, track, and resolve issues with your Telephone, PeoTV, and Broadband services - all in one platform.
        </p>
      </div>
    </div>
</div>

<div class="px-8 py-20">
    <h1 class="font-bold text-green text-4xl pb-1">Request services by the product</h1>
    <p class="text-lg text-gray1 pb-12">Learn about all the ways we can set up, install and repair the SLTMobitel telephone, peoTV, and broadband in your home.</p>
    <div class="flex gap-12">
        <a class="btn bg-blue font-bold text-white">Telephone</a>
        <a class="btn bg-blue font-bold text-white">PeoTV</a>
        <a class="btn bg-blue font-bold text-white">Broadband</a>
    </div>
</div>

<div class="hero bg-gradient-to-r from-white to-[#cce5fb] h-80">
    <div class="hero-content w-full flex flex-col lg:flex-row justify-between">
      <div>
        <h1 class="text-5xl font-bold text-blue">Need Immediate Assistance?</h1>
        <p class="py-4 text-xl">
          For any issues, our emergency support team is available 24/7. <br/>Call 1212 now and get the help you need, anytime, anywhere!
        </p>
      </div>
      <div class="flex items-center gap-4">
        <div class="flex items-center justify-center w-28 h-28 bg-blue-600 text-green rounded-full border-green border-4">
          <i class="fas fa-phone-volume text-6xl"></i>
        </div>
        <p class="text-8xl font-bold text-green italic">1212</p>
      </div>
    </div>
</div>